.raleway{
    font-family: "Raleway", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.cursor{
    cursor: pointer;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.ticket:disabled {
    cursor: not-allowed;
}